@font-face {
    font-family: 'Sans Serif';
    src: local('white-rabbit'), url(./fonts/white-rabbit/whitrabt-webfont.woff) format('woff');
}

.center {
    border: solid rgb(61, 61, 61);
    border-radius: 10px;
    border-width: thick;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.component {
    
    margin: auto;
    width: 50%;
    padding: 10px;
}

* {
    font-family: 'Sans Serif';
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: greenyellow;
    background-color: black;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}